<h1>Account Details</h1>

<p>Account ID</p>
<!-- TODO: how to retrieve account id and other account details in this route? -->
<table>
    <!-- <thead>
      <tr>
        <th scope="col">Account Name</th>
        <th scope="col">Balance</th>
        <th scope="col">Account Type</th>
      </tr>
    </thead> -->
    <tbody>
    <tr>
        
        
        <td scope="col">Account Name</td><td scope="col">{{account.id}}</td>
        </tr>
        <tr>
        <td>Balance</td><td>{{account.balance}}</td>
        </tr>
        <tr>
        <td>Account Type</td><td>{{account.currency}}</td>
        </tr>
    
    </tbody>
  </table>